body {
  background-color: #f9f0e0;
  color: #052f5f;
  margin: 0px;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
}

img {
  width: 100%;
}

nav {
  display: flex;
  background: #f8d896;
  border-bottom: 10px solid #b58e67;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
  float: right;
  justify-content: space-between;
}

nav img {
  width: 120px;
}

nav a h4 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #a5d2c7;
  text-shadow: -1px 0 #052f5f, 0 1px #052f5f, 1px 0 #052f5f, 0 -1px #052f5f;
  margin: 20px;
}

nav a:hover {
  cursor: pointer;
}

header img {
  width: 100%;
}

header {
  position: relative;
  text-align: center;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: "Roboto", sans-serif;
  color: #f9f0e0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5vw;
}

.projectSection {
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

.projects {
  display: flex;
}

.project {
  text-align: left;
  display: inline;
  margin: 5px;
  background: #f8d896;
  padding: 5px;
  border: 5px solid #b58e67;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
footer a {
  display: flex;
  font-size: 2vw;
}
