nav {
  display: flex;
  background: $marzipan;
  border-bottom: 5px solid $beige;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    float: right;
  }

  img {
    width: 80px;
  }

  a {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: $turqoise;
    text-shadow: -1px 0 $ocean, 0 1px $ocean, 1px 0 $ocean, 0 -1px $ocean;
    margin: 5px;
    img:hover {
      transform: scale(1.05);
    }
  }
}
