// Color palette as specified in Figma
$marzipan: #f8d896;
$cotton: #f9f0e0;
$ocean: #052f5f;
$turqoise: #a5d2c7;
$beige: #b58e67;

//Font families as specified in Figma
$text-font-family: "Source Code Pro", monospace;
$poster-font-family: "Roboto", sans-serif;

// Import component style modules
@import "./nav";
@import "./footer";

body {
  background-color: $cotton;
  color: $ocean;
  margin: 0 auto;
  font-family: $text-font-family;
  font-style: normal;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

.highlightLink {
  background: linear-gradient(to right, $beige, $beige),
    linear-gradient(to right, $ocean, $turqoise);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  padding-bottom: 5px;
  &:hover {
    background-size: 0 4px, 100% 4px;
  }
}
header {
  position: relative;
  text-align: center;
  img {
    width: 100%;
  }
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: $poster-font-family;
  color: $cotton;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projectSection {
  width: 80%;
  text-align: center;
  margin: 0px auto;
}

.projectSection h2 {
  font-size: 30px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  text-align: left;
  margin: 5px;
  background: $marzipan;
  padding: 10px;
  border: 5px solid $beige;
  border-radius: 5px;
  font-size: 16px;

  a {
    font-size: 22px;
  }
}

.projectImg {
  height: fit-content;
  border: 3px solid $beige;
  border-radius: 5px;
  height: intrinsic;
}

#pathbuilderImg {
  width: 300px;
}

#luomuluolaImg {
  width: 200px;
}

#quizfrenzyImg {
  width: 150px;
}

#profileImg {
  width: 300px;
  margin-right: 10px;
}

.projectInfo {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  p {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 200px;
  }
}

.highlightedText {
  font-size: 2.5;
  font-family: $poster-font-family;
}

.linklogo {
  height: 60px;
}

@media screen and (min-width: 1200px) {
}

@media only screen and (max-width: 600px) {
  .project {
    display: block;
    text-align: justify;
  }

  .projectInfo {
    display: block;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .projectImg {
      display: block;
      height: intrinsic;
    }
  }
}
